# Environment variables
.env
.env.*
# Python
__pycache__
*.py[cod]
*$py.class
*.pyo
*.pyd
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.venv
env/
build/
dist/
*.egg-info/
.installed.cfg
*.exe
# Node
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Docker
.dockerignore
# Misc
.DS_Thumbs
Thumbs.db